
<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('');">
            </div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                    <a href="#">
                        <img src="assets/image/coff.png" alt="Image"/>
                    </a>
                </div>
                <div class="h2 title">Nar B Alley </div>
                <p class="category text-black">Student at PerScholas</p>
                <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Find me on GitHub</a>
                <a class="btn btn-primary"href="https://github.com/narthapa" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Click here</a>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">

                </div>
            </div>
        </div>
        </div>
    </div>
</div>